body {
    font-size: 18px;
    line-height: 1.5;
}

h1 {
    font-size: 40px;
    font-family: 'Vidaloka', serif;
}

header, h2, nav, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: rgba(105, 6, 105, 0.966);
    color: #fff;
    text-align: center;
    padding: 0.2rem;
    border-radius: 1rem;
}

header img {
    width: 140px;
    margin: 10px;
}

footer {
    font-size: 15px;
}

footer a {
    color: #fff;
}

.lastupdatedtext {
    color: yellow;
}